MAYAR_API_KEY=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJjMDdmNDg2Mi1mZjAzLTQwZTctOGUwNS1hMWVlZmJiM2Y3ZTYiLCJhY2NvdW50SWQiOiI1OGM1ZDI1Mi01MmJhLTRmYjctOWY5ZC1jZmE3ZWRlNTQ3Y2YiLCJjcmVhdGVkQXQiOiIxNzY4NzkyMjU5OTU3Iiwicm9sZSI6ImRldmVsb3BlciIsInN1YiI6ImRhdGFpc29sdkBnbWFpbC5jb20iLCJuYW1lIjoiZGF0QUlzb2x2IiwibGluayI6ImRhdGFpc29sdiIsImlzU2VsZkRvbWFpbiI6bnVsbCwiaWF0IjoxNzY4NzkyMjU5fQ.G56JYfqDESQHXlHOBwS3q9aElpZg-d1UPSbBhzFzbr9FBEXndbYqDhuD3ghzQyTVJEExH_fgug0vq49FJw7kPDSUv5IiGBL3UpwZvEFQo86DOVNQsszZiZbfpbBzY6a1uEwF_q75t0RdD4nnLYG747waJEtdOuPLR8hhs4JIQGm7F_ZRC-XAai2NV4zBytZSWEx7xr7fdLRIRvvfp0ZwKoFTXUpWCa11JdwCc-JB0zml1HOhdUX_MosC3X84gF4wStoyq4s4lIx-Xc9rp-pfA_cxecS7iF--EQrFTeMEZM-lH5yvLGwILzng_SRJm0OCYvDUTRIMopjb9CfaKSH70g

MAYAR_WEBHOOK_TOKEN=16fe0d4aa3e42a940d14af5d876097153a418b66ab170e32ceb50c956a22f307cf5a72b93b52b6b4fcc969cfad194ee437fac1d10b0f72bac6aadd384af993b9